*
{
	padding: 0;
	margin: 0;
}
.appp
{	
	padding-top: 50px;
	display: flex;
	justify-content: center;
}
.button
{
	width: 150px;
	display: flex;
	justify-content: center;
}
/**/
/*.appp1
{
	padding-top: 100px;
}
.appp11
{
	display: flex;
	justify-content: center;
}	
.dropDown1
{
	width: 150px;
	display: flex;
	justify-content: center;
	background-color: #999999;
	border-radius: 20px;
}
.dropDownCol
{
	flex-direction: column;
	width: 150px;
}
.elements
{
	display: flex;
	flex-direction: column;
	background-color: #999989;
	border-radius: 10px;
}
.element
{
	display: flex;
	justify-content: center;
	padding-left: 10px;
}
.rowEl
{
	display: flex;
	flex-direction: row;
}
.imgRadius
{
	border-radius: 10px;
	width: 30px;
	height: 30px;
}
.invisible
{
	display: none;
}*/
/**/
.invisible2
{
	display: none;
}
.border2
{
	border: 3px solid black;
	border-bottom-color: gray;
	border-radius: 10px;
}
.focus2
{
	background-color: gray;
}
.onFocus2
{
	background-color: #F8F9FA;
}
.appp2
{
	padding-top: 50px;
}
.appp22
{
	display: flex;
	justify-content: center;
}	
.menuPlusItems2
{
	flex-direction: column;
	width: 150px;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.itemsTxt2
{
	padding-left: 5px;
	color: black;
}
.itemsTxt2:hover
{
	background-color: blue;
	text-decoration: none;
}
.rowShowDetails2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 37.2px;
}
.elementShow2
{
	padding-left: 5px;
}
.elementShowDetStrel
{
	padding-right: 5px;
}
A
{
	text-decoration: none;
}